@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: rgb(32, 32, 32);
    color: black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    
}

.flipCard{
    width: 270px;
    /* height: 450px; */
    height: 400px;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 10px;
    perspective: 1000px;
    
    
}

.innerCard{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    
    transform-style: preserve-3d;
}

.flipCard:hover .innerCard{
    transform: rotateY(180deg);
}

.frontPart, .backPart{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;

}

.backPart{
    transform: rotateY(180deg);
}

/* .frontPart{
    background-image: url(./img/20230519_083204.jpg);
    width: 270px;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
} */

.myImage{
    display: block;
    position: fixed;
    /* background-image: url(./img/20230519_083204.jpg); */
    
    width: 270px;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    filter: brightness(72%)
}

.bella{
    color: white;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    margin-top: 65% ;




}

.mcz{
    color: white;
    font-size: 20px;
    position: absolute;
    margin-top: 81% ;
    
}

.bella::after{
    content: "";

    display: block;
    width: 12rem;
    height: 0.2rem;
    margin: 0 auto;
    margin-top: 0.3rem;
    background-color: rgb(255, 255, 255);
}

.backPart{
    background-color: aquamarine;
    border-radius: 10px;
}